# https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings

# default for all files
* 	text=auto


# manual overrides for text files (NOTE: incomplete)
*.js 	text eol=lf
*.ejs 	text eol=lf


# manual override for binary format files (NOTE: incomplete)
*.gif	binary
