@charset "utf-8";

//  Needed to know Bulma defined colors
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;
$background: $black-ter;
$text: $grey-lightest;
$text-light: $grey-lighter;
$text-strong: $white-bis;

// TODO : ltsyj: Verify that this imports everything possibly needed for Bulma
@import "../node_modules/bulma/bulma.sass";
