@charset "utf-8";


// NOTE: ltsyj: the following are my own vars -->
$mint: #aaffee;
$tomato: #b84930;
$periwinkle: #aaaaff;
$blush: #ffaaff;

// NOTE: ltsyj: the followng vars are Bulma "initial" vars I want to override
// This space intentionally blank

//  Needed to know Bulma defined colors
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// NOTE: ltsyj: The following vars are Bulma "derived" which is why they can
//              be modified after importing "initial" vars -->
$primary:             $mint;
$info:                $periwinkle;

$scheme-main:         $black;
$scheme-main-bis:     $black-bis;
$scheme-main-ter:     $black-ter;
$scheme-invert:       $white;
$scheme-invert-bis:   $white-bis;
$scheme-invert-ter:   $white-ter;
$background:          $scheme-main;
$text:                $grey-lightest;
$text-light:          $grey-lighter;
$text-strong:         $white-bis;
$link:                $periwinkle;
$link-visited:        $blush;
$link-hover:          $red;

$navbar-background-color:               $mint;
$navbar-item-color:                     $black;
$navbar-dropdown-background-color:      $grey-lighter;
$navbar-item-hover-color:               $white-ter;
$navbar-item-hover-background-color:    $tomato;
$navbar-dropdown-arrow:                 $red;

$footer-background-color: $mint;
$footer-padding: 1rem 1rem 2.5rem;

@import "../node_modules/bulma/bulma.sass";
