body {
  color: white;
  background-color: #133926;
  font-family: "Lucida Console", Monaco, monospace;
}

a:link{
  color: #ff0000;
}

a:visited {
  color: #bb0000;
}

h1 {
  color: black;
  background-color: #8dd8b4;
}

h2 {
  background-color: #0d261a;
}
