
<a href="/home">ATLAS Home</a> <a>/</a> <a>About ATLAS</a> <a>&gt;</a>

<div class="section">
    <h2 class="title">
        About Development
    </h2>

    <p>
        ATLAS is under active development as of October 2019. The repository is
        available under the `conix-center` organization on GitHub, see:
    </p>

    <a href="https://github.com/conix-center/">https://github.com/conix-center/</a>
    <br>
</div>
