<!--
Periodically revisit validation needs for this form. See:
https://github.com/conix-center/ATLAS/issues/1
-->

<a href="/">ATLAS Home</a> <a>/</a> <a>Create Record Form</a> <a>&gt;</a>

<h1>Create <i>New</i> ATLAS Record</h1>

<form action="/record/create">
UUID:<br>
<input type="text" name="uuid" required><br>
<br>
URL:<br>
<input type="text" name="url"><br>
<br>
Latitude:<br>
<input type="text" name="lat"><br>
<br>
Longitude:<br>
<input type="text" name="lon"><br>
<br>
Elevation:<br>
<input type="text" name="ele"><br>
<br>
<input type="submit" value="submit">
</form>
