<h1>Create *New* ATLAS Record</h1>

	<form>
	UUID:<br>
	<input type="text" name="uuid"><br>
	<br>
	URL:<br>
	<input type="text" name="url"><br>
	<br>
	Latitude:<br>
	<input type="text" name="lat"><br>
	<br>
	Longitude:<br>
	<input type="text" name="lon"><br>
	<br>
	Elevation:<br>
	<input type="text" name="ele"><br>
	<br>
	<input type="submit" value="submit">
	</form>
