<!--
This is the Atlas default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<a>ATLAS Home</a> <a>&gt;</a>

<h1>
CMU CyLab ATLAS Home
</h1>

<h2>
What is ATLAS?
</h2>

<p>
ATLAS (Authority on the Locations of ARENA Stuff) is a geographic entity
service that connects ARENA users to nearby content.  The service can be
thought of like a geographic DNS that maps locations (GPS coordinates, UUIDs of
beacons and markers) with ARENA servers (realms) and scenes.
</p>

<h2>
<em>Manage</em> the CMU CyLab ATLAS:
</h2>

<ul>
<li><a href="/create-record-form">Create Record (Form)</a></li>
<li><a href="/record">Show All Records (JSON)</a></li>
<li><a href="/search-records-form">Advanced Search Records (Waterline QL)</a></li>
<li><a>Update Record</a></li>
<li><a>Destroy Record</a></li>
</ul>

<!-- sy: note: rn, this is more of a placeholder...
we'll probably want to eventually have a separate page for just /go,
but at the moment, I think the homepage being a bit of everything is good!
p.s. doing a "include" of that separate page here would be good too!
-->
<h2>
<em>Enter</em> the CMU CyLab ARENA:
</h2>

<p>
[placeholder for er's ARENA-core/go/index.html]
</p>

<h2>
About Development
</h2>

<p>
ATLAS is under active development as of October 2019. The repository is
available under the `conix-center` organization on GitHub, see:
</p>

<a href="https://github.com/conix-center/">https://github.com/conix-center/</a>

<!-- ltj: TODO: delete for prod -->
<!-- ltj: TODO: investigate if there are auto ways to take stuff out of prod env -->
<br>
<h2 style="background-color:orange; color:black">
DEVENV ONLY
</h2>
<a href="www.espn.com">(Probably) Unclicked Link</a>
