<!--
This is the Atlas default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<h1>
CMU CyLab ATLAS
</h1>

<p>
ATLAS connects many cyber and physical entities, allowing for a unified
Augmented Reality experience via ARENA for multiple people at once.
</p>

<p>
ATLAS is under active development as of October 2019, however the code
repository is not currently available to the public.
</p>

<p>
However, the ARENA code repository on GitHub under the `conix-center` organization is public and will consider proper Pull Requests (PR's). See:
</p>

<a href="https://github.com/conix-center/ARENA">https://github.com/conix-center/ARENA</a>
