
<section class="section">
<div class="container">
<h1 class="title"> ATLAS Home </h1>

<!-- TODO : put Maria logo here! side-by-side (via Bulma) w links using -->

<ul>
    <li> <a href="/portal">ARENA Portals</a> </li>
    <li> <a href="/manage">Manage ATLAS</a></li>
    <li> <a href="/about">About ATLAS</a></li>
</ul>
</div>
</section>
