<!--
This is the Atlas default homepage.
For more Sails information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<a>ATLAS Home</a> <a>&gt;</a>

<h1>
    ARENA Portal
</h1>

<img src="images/conix-face-lofi.gif">

<h2>
    Enter ARENA information:
</h2>

<form method="get">
    Avatar Name:
    <br/>
    <input type="text" name="name">
    <br/>
    <br/>
    ARENA MQTT Server:
    <br/>
    <input type="text" name="mqttServer" value="oz.andrew.cmu.edu">
    <br/>
    <br/>
    Server Scene:
    <br/>
    <input type="text" name="scene" value="render">
    <br/>
    <br/>
    Environment Theme:
    <br/>
    <select name="theme">
        <option value="starry">starry</option>
        <option value="none">none</option>
        <option value="osiris">osiris</option>
        <option value="default">default</option>
        <option value="contact">contact</option>
        <option value="egypt">egypt</option>
        <option value="checkerboard">checkerboard</option>
        <option value="forest">forest</option>
        <option value="goaland">goaland</option>
        <option value="yavapai">yavapai</option>
        <option value="goldmine">goldmine</option>
        <option value="threetowers">threetowers</option>
        <option value="poison">poison</option>
        <option value="arches">arches</option>
        <option value="tron">tron</option>
        <option value="japan">japan</option>
        <option value="dream">dream</option>
        <option value="volcano">volcano</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Enter VR" formaction="https://xr.andrew.cmu.edu/">
    <br/>
    -OR-
    <br/>
    <input type="submit" value="Enter AR" formaction="https://xr.andrew.cmu.edu/arena-xr/">
</form>

<h2>
    Sample VR Panoramas:
</h2>

<a href="https://xr.andrew.cmu.edu/?name=&theme=egypt&scene=nara&weather=none&mqttServer=oz.andrew.cmu.edu">
    Nara
</a>
<br/>
<a href="https://xr.andrew.cmu.edu/arena-xr/?name=&theme=none&scene=waterfall&weather=none&mqttServer=oz.andrew.cmu.edu">
    Waterfall
</a>
<br/>
<a href="https://xr.andrew.cmu.edu/arena-xr/?name=&theme=starry&scene=city&weather=none&mqttServer=oz.andrew.cmu.edu">
    City
</a>
<br/>
<a href="https://xr.andrew.cmu.edu/arena-xr/?name=&theme=none&scene=beach&weather=none&mqttServer=oz.andrew.cmu.edu">
    Beach
</a>
<br/>
<a href="https://xr.andrew.cmu.edu/arena-xr/?name=&theme=none&scene=kungfu&weather=none&mqttServer=oz.andrew.cmu.edu">
    KungFu
</a>
<br/>

<!-- ATLAS part -->
<!-- ====================================================================== -->
<h1>
    ATLAS Home
</h1>

<h2>
    What is ATLAS?
</h2>

<p>
    ATLAS (Authority on the Locations of ARENA Stuff) is a geographic entity
    service that connects ARENA users to nearby content. The service can be
    thought of like a geographic DNS that maps locations (GPS coordinates, IDs of
    beacons and markers) with ARENA servers (realms) and scenes.
</p>

<h2>
    <em>Manage</em> the ARENA ATLAS:
</h2>

<ul>
    <li><a href="/atlas/create-record-form">Create Record (Form)</a></li>
    <li><a href="/atlas/record">Show All Records (JSON)</a></li>
    <li><a href="/atlas/search-records-form">Advanced Search Records (Waterline QL)</a></li>
    <li><a>Update Record</a></li>
    <li><a>Destroy Record</a></li>
</ul>

<h2>
    About Development
</h2>

<p>
    ATLAS is under active development as of October 2019. The repository is
    available under the `conix-center` organization on GitHub, see:
</p>

<a href="https://github.com/conix-center/">https://github.com/conix-center/</a>

<!-- ltj: TODO: delete for prod -->
<!-- ltj: TODO: investigate if there are auto ways to take stuff out of prod env -->
<br>
<h2 style="background-color:orange; color:black">
    DEVENV ONLY
</h2>
<a href="https://www.disney.com">(Probably) Unclicked Link</a>
