<!--
This is the Atlas default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<a>ATLAS Home</a> <a>&gt;</a>

<h1>
CMU CyLab ATLAS Home
</h1>

<h2>
What is ATLAS?
</h2>

<p>
ATLAS (Authority on the Locations of ARENA Stuff) is a geographic entity
service that connects ARENA users to nearby content.  The service can be
thought of like a geographic DNS that maps locations (GPS coordinates, UUIDs of
beacons and markers) with ARENA servers (realms) and scenes.
</p>

<h2>
<i>Manage</i> the CMU CyLab ATLAS:
</h2>

<ul>
<li><a href="/create-record-form">Create Record</a></li>
<li><a>Read Record(s)</a></li>
<li><a>Update Record</a></li>
<li><a>Destroy Record</a></li>
</ul>

<h2>
About Development
</h2>

<p>
ATLAS is under active development as of October 2019. The repository is
available under the `conix-center` organization on GitHub, see:
</p>

<a href="https://github.com/conix-center/">https://github.com/conix-center/</a>
