
<a href="/home">ATLAS Home</a> <a>/</a> <a>ATLAS Management</a> <a>&gt;</a>

<div class="section">
    <h1 class="title">
        ATLAS Home
    </h1>

    <h2 class="title">
        What is ATLAS?
    </h2>

    <p>
        ATLAS (Authority on the Locations of ARENA Stuff) is a geographic entity
        service that connects ARENA users to nearby content. The service can be
        thought of like a geographic DNS that maps locations (GPS coordinates, IDs of
        beacons and markers) with ARENA servers (realms) and scenes.
    </p>

    <h2 class="title">
        <em>Manage</em> the ARENA ATLAS:
    </h2>

    <ul>
        <li><a href="/create-record-form">Create Record (Form)</a></li>
        <li><a href="/record">Show All Records (JSON)</a></li>
        <li><a href="/search-records-form">Advanced Search Records (Waterline QL)</a></li>
        <li><a>Update Record</a></li>
        <li><a href="/destroy-record-form">Destroy Record</a></li>
    </ul>
</div>
