<div>
    <table class="table is-hoverable is-fullwidth">
        <thead>
        <th>
            ID
        </th>
        <th>
            Distance
        </th>
        </thead>
        <tbody id="modal-table">
            <% _.each(results, function (result) { %>
                <tr><td><a href="<%= result.url %>"><%= result.name %></a></td><td><%= result.distance %></td></tr>
            <% }) %>
        </tbody>
</div>
