
<!-- TODO : avoid duplicating this code in update-record-form.ejs -->
<script>
// TODO : * factor out reusable and generally useful code ([Get record ...])
// todo   * keep the inextricably linked code to this page in this view
    function populateUpdateRecordForm(id) {
        // [Grab relevant elements for readability]
        var find_form = document.getElementById('div-find-form');

        var error_section = document.getElementById('error-section');
        var error_message = document.getElementById('error-message');

        var update_form = document.getElementById('div-update-form');
        var input_id = document.getElementById('update-form-input-id');
        var input_name = document.getElementById('update-form-input-name');
        var input_url = document.getElementById('update-form-input-url');
        var input_lat = document.getElementById('update-form-input-lat');
        var input_long = document.getElementById('update-form-input-long');
        var input_ele = document.getElementById('update-form-input-ele');
        var input_pose = document.getElementById('update-form-input-pose');
        let input_objectType = document.getElementById('update-form-input-objectType')

        // [Clear error message and hide]
        error_message.innerHTML = "no_error";
        error_section.style = "display:none; color:red";

        // [Get record and display in update form]
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/record/' + id);

        xhr.onload = function () {
            if (xhr.readyState == 4 && xhr.status == '200') {
                var records = JSON.parse(xhr.responseText);

                // [Load update form with current record values]
                input_id.value = records.id;
                input_name.value = records.name;
                input_url.value = records.url;
                input_lat.value = records.lat;
                input_long.value = records.long;
                input_ele.value = records.ele;
                input_pose.value = records.pose;
                input_objectType.value = records.objectType;

                // [Hide find form, unhide update form and cancel button]
                find_form.style = "display:none";
                update_form.style = "display:block";

            } else {
                // [Set error message and display]
                error_message.innerHTML =
                  "Record not found. Perhaps the ID is incorrect?";

// TODO : consider adding some helpful bits here, such as:
// todo   * find similar records
// todo   * create record with given id (if conformant to UUIDv?)

                error_section.style = "display:block; color:red";
            }
        };

        xhr.send(null);
    }

    function cancelUpdate() {
        // [Grab relevant elements for readability]
        var find_form = document.getElementById('div-find-form');

        var error_section = document.getElementById('error-section');
        var error_message = document.getElementById('error-message');

        var update_form = document.getElementById('div-update-form');
        var input_id = document.getElementById('update-form-input-id');
        var input_name = document.getElementById('update-form-input-name');
        var input_url = document.getElementById('update-form-input-url');
        var input_lat = document.getElementById('update-form-input-lat');
        var input_long = document.getElementById('update-form-input-long');
        var input_ele = document.getElementById('update-form-input-ele');
        var input_pose = document.getElementById('update-form-input-pose');
        let input_objectType = document.getElementById('update-form-input-objectType');


        // ["Zero out" update form]
        input_id.placeholder = "";
        input_name.placeholder = "";
        input_url.placeholder = "";
        input_lat.placeholder = "";
        input_long.placeholder = "";
        input_ele.placeholder = "";
        input_pose.placeholder = "";
        input_objectType.placeholder = "";

        // [hide update form, unhide find form]
        update_form.style = "display:none";
        find_form.style = "display:block";

        // [Clear error message and hide]
        error_message.innerHTML = "no_error";
        error_section.style = "display:none; color:red";

    }

    function is_value_empty(input_elem) {
        if (input_elem.value.length == 0) {
            return true;
        }
        return false;

    }

// TODO : could use heavier testing. def. for invalid updates requested!! --ltj
    function updateRecord() {
        // [Grab relevant elements for readability]
        var find_form = document.getElementById('div-find-form');

        var error_section = document.getElementById('error-section');
        var error_message = document.getElementById('error-message');

        var update_form = document.getElementById('div-update-form');
        var input_id = document.getElementById('update-form-input-id');
        var input_name = document.getElementById('update-form-input-name');
        var input_url = document.getElementById('update-form-input-url');
        var input_lat = document.getElementById('update-form-input-lat');
        var input_long = document.getElementById('update-form-input-long');
        var input_ele = document.getElementById('update-form-input-ele');
        var input_pose = document.getElementById('update-form-input-pose');
        let input_objectType = document.getElementById('update-form-input-objectType')

        // [Clear error message and hide]
        error_message.innerHTML = "no_error";
        error_section.style = "display:none; color:red";

        /*
        // [Throw error & exit if no changes have been requested]
        if (
          is_value_empty(input_name) && is_value_empty(input_url) &&
          is_value_empty(input_lat) && is_value_empty(input_long) &&
          is_value_empty(input_ele) && is_value_empty(input_pose) &&
          is_value_empty(input_objectType)
        ) {
            error_message.innerHTML = "Change at least one field to update the record";
            error_section.style = "display:block; color:red";
            return;
        }
        */


        // [Construct JSON string of patches entered]
        var patches_json = " {"
        if (!is_value_empty(input_name)) {
            patches_json += "\n\t\"name\": \"" + input_name.value + "\"";
        }
        if (!is_value_empty(input_url)) {
            patches_json += "\n\t\"url\": \"" + input_url.value + "\"";
        }
        if (!is_value_empty(input_lat)) {
            patches_json += "\n\t\"lat\": \"" + input_lat.value + "\"";
        }
        if (!is_value_empty(input_long)) {
            patches_json += "\n\t\"long\": \"" + input_long.value + "\"";
        }
        if (!is_value_empty(input_ele)) {
            patches_json += "\n\t\"ele\": \"" + input_ele.value + "\"";
        }
        if (!is_value_empty(input_pose)) {
            patches_json += "\n\t\"pose\": \"" + input_pose.value + "\"";
        }
        if (!is_value_empty(input_objectType)) {
            patches_json += "\n\t\"objectType\": \"" + input_objectType.value + "\"";
        }
        patches_json += "\n}";

        // [Update existing record in place]
        var xhr = new XMLHttpRequest();
        xhr.open('PATCH', '/record/' + input_id.placeholder);

        xhr.onload = function () {
            var record = JSON.parse(xhr.responseText);
            if (xhr.readyState == 4 && xhr.status == '200') {
                // [Hide find form & update form]
                find_form.style = "display:none";
                update_form.style = "display:none";

                // [Set std-error message and display]
// TODO : put new record data here?
                error_message.innerHTML =
                    "Update success!";
                error_section.style = "display:block; color:green";

            } else {
// TODO : branch taken if Atlas rejects modifications, possibly? --ltj
                // [Set error message and display]
                error_message.innerHTML =
                    "Update rejected. Please ensure proper formatting of " +
                     "modified fields!";
                error_section.style = "display:block; color:red";
            }
        };

        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(patches_json);

    }
</script>

<div class="section">

  <h1 class="title">
    Find Record & Update
  </h1>

  <!-- TODO : address that pressing Enter does nothing because no form action -->
  <div class="section" id="div-find-form" style="display:block">
    <form>
      <div class="field">
        <label class="label">
          ID:
        </label>
        <div class="control">
          <input class="input" type="text" name="id" id="find-form-input-id" required>
        </div>
      </div>

      <button
        class="button is-info"
        type="button"
        onclick="populateUpdateRecordForm(
               document.getElementById('find-form-input-id').value);"
      >
        Find Record
      </button>

    </form>
  </div>

  <div class="section" id="error-section" style="display:none;color:red">
    <p id="error-message">no_error</p>
  </div>

  <div class="section" id="div-update-form" style="display:none">
    <form action="record" method="post">
      <div class="field">
        <label class="label">
          ID:
        </label>
        <div class="control">
          <input
            class="input" type="text" name="id" id="update-form-input-id" disabled
          >
        </div>
      </div>
      <div class="field">
        <label class="label">
          Name:
        </label>
        <div class="control">
          <input class="input" type="text" name="name" id="update-form-input-name">
        </div>
      </div>
      <div class="field">
        <label class="label">
          URL:<br/>
        </label>
        <div class="control">
          <input class="input" type="text" name="url" id="update-form-input-url">
        </div>
      </div>
      <div class="field">
        <label class="label">
          Latitude:<br/>
        </label>
        <div class="control">
          <input class="input" type="text" name="lat" id="update-form-input-lat">
        </div>
      </div>
      <div class="field">
        <label class="label">
          Longitude:<br/>
        </label>
        <div class="control">
          <input class="input" type="text" name="long" id="update-form-input-long">
        </div>
      </div>
      <div class="field">
        <label class="label">
          Elevation:<br/>
        </label>
        <div class="control">
          <input class="input" type="text" name="ele" id="update-form-input-ele">
        </div>
      </div>
      <div class="field">
        <label class="label">
          Pose:<br/>
        </label>
        <div class="control">
          <textarea class="input" type="text" name="pose" id="update-form-input-pose"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">
          Object Type:
        </label>
        <div class="control">
          <input
            class="input" type="text" name="pose"
            id="update-form-input-objectType"
          >
        </div>
      </div>
      <button
        class="button is-info" type="button"
        onclick="cancelUpdate()"
      >Cancel
      </button>
      <button
        class="button is-danger" type="button"
        onclick="updateRecord()"
      >Update Record
      </button>
    </form>
  </div>

</div>
